.form-search input[type="submit"] {
	position: relative;
	margin-left: -19px;
	z-index: 10;
	padding: 0 !important;
	padding-top: 3px !important;
	padding-bottom: 4px !important;
}

.form-search input[type="text"] {
	display: block;
	position: relative;
	width: 202px !important;
	min-height: 26px !important;
	height: 26px !important;
	padding: 7px 5px 3px;
	z-index: 0;
	margin-top: 2px;
	padding-top: 7px;
	float: left; 
}

.form-search a {
	display: inline-block;
}

a, a:active, a:link, a:visited {
	color: #000;
}

#panel a, #panel a:active, #panel a:link, #panel a:visited {
	color: #fff;
}

.left.phones {
	max-width: 250px !important;
	width: 250px !important;
}

.right.adress {
	max-width: 310px !important;
	width: 310px !important;
}

.btn {
	max-height: 23px;
}

a.btn {
	color: #fff !important;
}

table.cart input.q {
	max-height: 17px;
	height: auto !important;
}

.filter input[type="text"] {
	max-height: 15px;
}

.filter label {
	margin-top: -45px;
}

a.switch, a.dashed {
	margin-top: -49px !important; 
	display: inline-block;
}

.filter span {
	display: inline-block;
}

.filter span a {
	margin: 0 !important;
}

ul.pagination li a {
	display: block;
}

.well.payment fieldset {
	max-height: 20px;
	height: 20px;
}

fieldset.payment-form input {
	 min-height: 10px;
}

div.contact-form input[type="text"] {
	min-height: 10px;
	max-width: 188px;
}

textarea {
	max-width: 650px;
}

.content input[type="text"], input[type="email"] {
	min-height: 10px;
	/*max-width: 188px;*/
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.content input[type="submit"] {
	width: auto !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.corner {
	bottom: -3px !important;
}

input[type="radio"] {
	padding: 5px !important;
	border: none !important;
	background-color: transparent !important;
	height: auto !important;
	min-height: auto !important;
}